.line {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.tile {
    border: var(--border-style);
    padding: var(--tile-gap);
    width: var(--tile-gap);
    height: var(--tile-gap);
    text-align: center;
    font-size: var(--tile-gap);
    line-height: var(--tile-gap);
    border-radius: 1vw;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.false {
    animation: horizontal-shaking .3s linear;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}